<span class="title">Bonjour sur créerunCV.com !</span>
<div>
  <span class="welcome">Créez votre nouveau CV </span>
  <img src="assets/log.png" height="80">
</div>
<span class="title">Voici un modèle de CV :</span>

<div class="label-container">
  <label class="label">Informations personnelles</label>
  <ul>
    <li *ngFor="let info of infos">
      <span class="id-span">ID: {{ info.id }}</span> {{ info.surname }} - {{ info.name }} - {{ info.birth }}
      <button class="delete-button" (click)="info.id !== undefined && deleteInfo(info.id)">Supprimer une</button>
    </li>
    <button class="delete-button" (click)="deleteallI()">Supprimer tous</button>
  </ul>
</div>
<div class="label-container">
  <label class="label">Diplômes</label>
  <ul>
    <li *ngFor="let diplome of diplomes">
      <span class="id-span">ID: {{ diplome.id }}</span> {{ diplome.name }} - {{ diplome.school }} - {{ diplome.obtentionDate }}
      <button class="delete-button" (click)="diplome.id !== undefined && deleteDiplome(diplome.id)">Supprimer une</button>
    </li>
    <button class="delete-button" (click)="deleteallD()">Supprimer tous</button>
  </ul>
</div>

<div class="label-container">
  <label class="label">Expériences professionnelles</label>
  <ul>
    <li *ngFor="let experience of expro">
      <span class="id-span">ID: {{ experience.id }}</span> {{ experience.nameC }} - {{ experience.beginD }} - {{ experience.endD }} - {{ experience.job }}
      <button class="delete-button" (click)="experience.id !== undefined && deleteExPro(experience.id)">Supprimer une</button>
    </li>
    <button class="delete-button" (click)="deleteallE()">Supprimer tous</button>
  </ul>
</div>

<div class="label-container">
  <label class="label">Compétences techniques</label>
  <ul>
    <li *ngFor="let skill of skills">
      <span class="id-span">ID: {{ skill.id }}</span> {{ skill.domains }} - {{ skill.details }}
      <button class="delete-button" (click)="skill.id !== undefined && deleteSkill(skill.id)">Supprimer une</button>
    </li>
    <button class="delete-button" (click)="deleteallS()">Supprimer tous</button>
  </ul>
</div>

<div class="label-container">
  <label class="label">Certifications</label>
  <ul>
    <li *ngFor="let certif of certif">
      <span class="id-span">ID: {{ certif.id }}</span> {{ certif.name }} - {{ certif.domain }}
      <button class="delete-button" (click)="certif.id !== undefined && deleteCertif(certif.id)">Supprimer une</button>
    </li>
    <button class="delete-button-all" (click)="deleteallC()">Supprimer tous</button>
  </ul>
</div>

<div class="label-container">
  <label class="label">Centres d'intérêt</label>
  <ul>
    <li *ngFor="let hobbie of hobbie">
      <span class="id-span">ID: {{ hobbie.id }}</span> {{ hobbie.description }}
      <button class="delete-button" (click)="hobbie.id !== undefined && deleteHobbie(hobbie.id)">Supprimer une</button>
    </li>
    <button class="delete-button" (click)="deleteallH()">Supprimer tous</button>
  </ul>
</div>

<div class="label-container">
  <label class="label">Contact</label>
  <ul>
    <li *ngFor="let contact of contact">
      <span class="id-span">ID: {{ contact.id }}</span> {{ contact.type }} - {{ contact.info }}
      <button class="delete-button" (click)="contact.id !== undefined && deleteContact(contact.id)">Supprimer une</button>
    </li>
    <button class="delete-button" (click)="deleteallCT()">Supprimer tous</button>
  </ul>
</div>
