
<nav>
  <div>
    <img src="assets/cv3.png" routerLink="" />
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active">
        <span>Accueil</span>
      </a>

      <!-- La structure de la navbar-->
      <a mat-list-item routerLink="/modification" routerLinkActive="active">
        <span>Suppression</span>
      </a>
      <a mat-list-item routerLink="/cv1" routerLinkActive="active">
        <span>Saisie</span>
      </a>

      <a mat-list-item routerLink="/messageform" routerLinkActive="active">
        <span>Envoyer un message</span>
      </a>

      <a mat-list-item routerLink="/inbox" routerLinkActive="active">
        <span>Boîte de Réception</span>
      </a>

      <a mat-list-item routerLink="/update" routerLinkActive="active">
        <span>Update</span>
      </a>
    </mat-nav-list>
  </div>
</nav>
