/* cv.component.scss */
:host {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 25px;
  flex-direction: column;

  form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  
    div {
      margin-bottom: 15px;
  
      label {
        display: block;
        margin-bottom: 5px;
      }
  
      input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
      }
    }
  
    button {
      background-color: #4caf50;
      color: white;
      padding: 15px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  .label-container label {
    font-weight: bold;
    margin-bottom: 10px; 
  }
  .label-container {
    font-size: 17px; 
    border: 1px solid #000;
    padding: 10px; 
    box-sizing: border-box;
    margin-left: 10px; 
  }
  .title {
    font-family: 'Quicksand', cursive;
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: #db3434;
    letter-spacing: 2px;
    margin: 10px 0;
    font-style: italic; 
  }

  .send-button {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 10px; 
  }
}