<style>
.title-container {
  border: 2px solid #333;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 3em;
  color: #333;
  margin: 0;
}

</style>
<div class="container">
  <div class="title-container">
    <h1 class="title">Envoi d'un message au propriétaire du CV</h1>
  </div>
</div>
<div>

  <span><b>Vous pouvez envoyer un message au propriétaire du CV</b></span>
  <form (submit)="sendMessage()"> <!--- Message form -->
      <input type="text" [(ngModel)]="surname" id="surname" name="surname" placeholder="Nom" required><br>
      <input type="text" [(ngModel)]="name" name="name" id="name" placeholder="Prénom" required><br>
      <input type="text" [(ngModel)]="contact" name="contact" id="contact" placeholder="Un moyen de vous contacter" required><br>
      <textarea type="text" [(ngModel)]="messagebody" name="messagebody" id="messagebody" placeholder="Votre message" required></textarea>
      <input type="date" [(ngModel)]="date" value="new Date();" name="date" id="date" hidden required><br>
      <button type="submit" class="send-button">ENVOYER</button>
  </form>
</div>